<div class="container">
  <header>ToDo App Fattocs</header>
  <main class="conteudo" >
      <div class="lista" cdkDropList (cdkDropListDropped)="dropped($event)">
          <div class="lista__item" *ngFor="let itemTarefa of listaTarefas" cdkDrag [cdkDragData]="itemTarefa" >
              <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
              <app-card-tarefa [tarefaCard]="itemTarefa" (mudancaItemLista)="recuperarLista()" 
                (excluirTarefaEmitter)="excluirTarefaAbrirModal(itemTarefa.tarefaId)"
                (editarItemEmitter)="editarTarefa(itemTarefa.tarefaId)"></app-card-tarefa>
          </div>
      </div>
     
  </main>
  <footer>
    <span class="btn-footer" (click)="abrirModalNovaTarefa()">
        +
    </span>            
  </footer>
  <app-modal #modal >
    <app-form-inclui-tarefa #form 
      [tarefaId]="tarefa.tarefaId"
      [nomeTarefa]="tarefa.nomeTarefa"
      [custo]="tarefa.custo"
      [dtLimite]="tarefa.dtLimite"
      [ordem]="tarefa.ordem"
      [btnSaveLabel]="recuperarLabelBtnModal()"
      [btnCancelLabel]="'cancelar'"
      (tarefaFormEmitter)="incluirTarefa($event)"
      (cancelarFormEmitter)="cancelarFormulario($event)">        
    </app-form-inclui-tarefa>    
  </app-modal>
  <app-modal #excluirModal >
    <p>Confirma a exclusão?</p>
    <button class="btn" (click)="excluirTarefa()">Sim</button>
    <button class="btn" (click)="excluirModal.isModalOpen = false">Não</button>
  </app-modal>
</div>

