<div [formGroup]="tarefaForm"  >
    <div class="grupo-form">
        <Label for="nomeTarefa"> Nome Tarefa:</Label>
        <input type="text" class="card__in" id="nomeTarefa"
            required
            [(ngModel)]="nomeTarefa" formControlName="nomeTarefa" />
    </div>
    <div class="grupo-form">
        <label for="dtLimite">Data Limite</label>
        <input type="date" class="card__in" id="dtLimite"
            required  
            [(ngModel)]="dtLimite" formControlName="dtLimite" />
            
    </div>
    <!-- (ngModelChange)="item.value=currencyInputChanged($event)" -->
    <!-- | currency:'BRL':'symbol' -->
    <div class="grupo-form">
        <label for="custo">
            Custo
        </label>
        <input type="text" class="card__in" id="custo"
        required
        [(ngModel)]="custo"
        formControlName="custo" />
    </div>
   
   <div class="acoes">
       <button class="btn--form" (click)="enviar()">{{btnSaveLabel}}</button>
       <button class="btn--form" (click)="cancelar()">{{btnCancelLabel}}</button>
   </div>
</div>