<div class="card">
    <div class="card__titulo">
        <button class="btn" (click)="excluir()">Excluir</button>
    </div>
   
    <ng-container  *ngIf="!isEditando; else edicao" >
        <div class="card__conteudo">
            <button class="btn" (click)="isEditando=true">Editar</button>        
            <div class="card__campos">
                <span>            
                    {{tarefaCard.nomeTarefa}}
                </span>
                <span>
                    {{tarefaCard.dtLimite | date: 'dd/MM/yyyy' }}
                </span>
                <span>
                    {{tarefaCard.custo | currency:'BRL':'symbol'}}
                </span>
            </div>
        </div>
        
    </ng-container>

    <ng-template #edicao >
        <app-form-inclui-tarefa
            [nomeTarefa]="tarefaCard.nomeTarefa"
            [dtLimite]="tarefaCard.dtLimite"
            [custo]="tarefaCard.custo"
            [btnSaveLabel]="'salvar'"
            [btnCancelLabel]="'cancelar'"
            (tarefaFormEmitter)="salvarAlteracoes($event)"
            (cancelarFormEmitter)="this.isEditando = false">
        </app-form-inclui-tarefa>
    </ng-template>
</div>