<div class="card">
    <div class="card__titulo">
        <button class="btn" (click)="excluir()">Excluir</button>
        <button class="btn" (click)="editarItem()">Editar</button>        
    </div>
   
    <ng-container >
        <div class="card__conteudo">
            
            <div class="card__campos">
                <span>            
                    {{tarefaCard.nomeTarefa}}
                </span>
                <span>
                    {{tarefaCard.dtLimite | date: 'dd/MM/yyyy' }}
                </span>
                <span>
                    {{tarefaCard.custo | currency:'BRL':'symbol'}}
                </span>
            </div>
        </div>
        
    </ng-container>

</div>