.btn 
    background-color: #E2574C
    padding: .4rem .8rem 
    font-family: sans-serif
    text-transform: uppercase

    font-weight: 600
    font-size: .85em

    border-radius: 2rem

.card
    display: flex
    flex-flow: column
    flex-wrap: wrap

    &__titulo       
        flex: 1
        margin-right: 1rem
        
        display: flex
        flex-flow: row
        flex-wrap: wrap
        justify-content: flex-end
    
    &__conteudo
        flex: 1
        margin-top: .76rem
        margin-right: 1rem

        display: flex
        flex-flow: row
        flex-wrap: wrap
        align-content: flex-end

    &__grupo
        flex: 1

        display: flex
        flex-flow: column

        & span:first-child 
            font-weight: 600
            text-transform: uppercase
            margin-bottom: 1.1rem
        & span:last-child      
            border-left: .1rem solid black
            padding-left: .4rem
            text-transform: uppercase
    

